{{#each chatObject}}
	<hr style="width: 80%; position: relative; left: 10%">
	<div class="chat-list__list-element">
		<div class="element__icon"></div>
		<p class="element__name">{{this.name}}</p>
		<div class="element__text-preview"><p>{{this.text}}</p></div>
		<p class="element__date">{{this.date}}</p>
		<div class="element__circle">
			{{this.incoming}}
		</div>
	</div>
{{/each}}