{{#each chat}}
	<div class="message-tape_picked">
		<div class="message-tape__top">
			<div class="message-tape__top-container">
				<div></div>
				<p>ivan</p>
				<div class="grip-container"><p>•••</p><div class="add-user none"></div></div>
			</div>
		</div>
		<div class="message-tape__chat">
			{{#each message}}
				<div class="{{this.class}}">
					<p>{{this.content}}</p>
				</div>
			{{/each}}
		</div>
		<div class="message-tape__bottom">
			<div class="message-tape__bottom-container">
				<div class="attachment-container">
					<div class="attachment none"></div>
				</div>
				<div class="input-handler">
					<input name="message" placeholder="Сообщение"></input>
				</div>
				<div></div>
			</div>
		</div>
	</div>
{{/each}}