<aside class="chat-list">
	<div class="chat-list__search-bar">
		<p class="profile">Профиль</p>
		<div class="chat-list__search-input">
			<input placeholder="Поиск">
		</div>
	</div>
	<div class="chat-list__list-container">
</aside>
<main class="message-tape">
	<div class="message-tape_unpicked">Выберите чат</div>
</main>
