* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden; }

html, body, #root {
  min-height: 100vh;
  word-break: break-all; }

.circle {
  border-radius: 100%;
  background-color: #E547FF; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #64676d; }

.chat-list__search-input > input, .input-handler input {
  font-size: 20px;
  border: none;
  outline: none;
  position: absolute;
  width: 95%;
  height: 90%;
  background: none; }

.chat-list__search-input, .input-handler {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00F0FF;
  border-radius: 50px; }

.message-tape__reciever > p, .message-tape__sender > p {
  word-break: break-all;
  padding: 10px 10px;
  vertical-align: middle;
  display: table-cell; }

#content {
  display: flex;
  min-height: 100vh; }

.checked {
  background-color: #00FCED; }

.chat-list {
  background-color: #C3FFFB;
  flex-basis: 25%;
  border-right: 1px solid #8F8F8F; }
  .chat-list__search-bar {
    height: 20vh;
    display: grid;
    grid-template-rows: 1fr 1fr; }
    .chat-list__search-bar > p {
      align-self: center;
      justify-self: right;
      margin-right: 20px;
      font-size: 20px; }
  .chat-list__search-input {
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 40%; }
    .chat-list__search-input > input {
      width: 90%; }
  .chat-list__list-container {
    height: 80vh;
    overflow-y: visible; }
  .chat-list__list-element {
    position: relative;
    cursor: pointer;
    height: 5rem;
    display: grid;
    grid-template-columns: 5rem auto 2.5rem;
    grid-template-areas: "icon name date" "icon text-preview circle";
    margin: 2% 5%; }
    .chat-list__list-element > * {
      align-self: center;
      justify-self: left; }
  .chat-list__list-element:hover {
    background-color: #00FCED; }

.element__icon {
  margin: 2%;
  grid-area: icon;
  justify-self: stretch;
  align-self: stretch;
  border-radius: 10px;
  background-color: #00F0FF; }

.element__name {
  grid-area: name;
  font-weight: bold;
  margin-left: 10px; }

.element__date {
  grid-area: date; }

.element__text-preview {
  max-width: 95%;
  grid-area: text-preview;
  margin-inline: 10px;
  align-self: flex-start;
  max-height: 1.5rem; }
  .element__text-preview > p {
    white-space: nowrap;
    text-overflow: ellipsis; }

.element__circle {
  margin: 2%;
  grid-area: circle;
  justify-self: stretch;
  align-self: stretch;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.grip-container {
  writing-mode: vertical-lr;
  margin-left: auto;
  cursor: pointer;
  user-select: none; }

.message-tape {
  flex-basis: 75%; }
  .message-tape_unpicked {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .message-tape_picked {
    height: 100%;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh; }
  .message-tape__top {
    position: relative;
    overflow: visible; }
    .message-tape__top * {
      overflow: visible; }
    .message-tape__top::before {
      content: "";
      position: absolute;
      inset: 99% 4% 0 4%;
      background-color: #8F8F8F; }
  .message-tape__top-container {
    display: flex;
    font-size: 25px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    overflow: visible; }
    .message-tape__top-container > *:first-child {
      width: 5rem;
      height: 5rem;
      background-color: #00F0FF;
      border-radius: 10px;
      margin-right: 1rem; }
    .message-tape__top-container > .grip-container {
      position: relative;
      overflow: visible; }
      .message-tape__top-container > .grip-container > .add-user {
        cursor: initial;
        position: absolute;
        top: 150%;
        right: 40%;
        background-color: #C3FFFB;
        width: 25vw;
        height: 20vh;
        border: 0.5px solid #8F8F8F;
        border-radius: 10px; }
  .message-tape__chat {
    display: flex;
    overflow-y: visible;
    flex-direction: column; }
    .message-tape__chat > * {
      background-color: #00F0FF;
      margin: 25px; }
  .message-tape__reciever {
    display: table;
    align-self: flex-end;
    min-width: 10%;
    min-height: 3vh;
    max-width: 40%;
    border-radius: 10px 10px 0 10px; }
    .message-tape__reciever > p {
      text-align: right; }
  .message-tape__sender {
    display: table;
    align-self: flex-start;
    min-height: 3vh;
    max-width: 40%;
    border-radius: 0 10px 10px 10px; }
    .message-tape__sender > p {
      text-align: left; }
  .message-tape__bottom {
    position: relative;
    overflow: visible; }
    .message-tape__bottom * {
      overflow: visible; }
    .message-tape__bottom::before {
      content: "";
      position: absolute;
      inset: 0 4% 99% 4%;
      background-color: #8F8F8F; }
  .message-tape__bottom-container {
    display: grid;
    grid-template-columns: 10vh auto 10vh;
    height: 100%; }
    .message-tape__bottom-container > .attachment-container {
      background-color: #E547FF;
      margin: 25px;
      border-radius: 10px;
      cursor: pointer;
      position: relative; }
      .message-tape__bottom-container > .attachment-container > .attachment {
        cursor: initial;
        position: absolute;
        bottom: 150%;
        background-color: #C3FFFB;
        width: 25vw;
        height: 20vh;
        border: 0.5px solid #8F8F8F;
        border-radius: 10px; }
    .message-tape__bottom-container > *:nth-child(3) {
      background-color: #E547FF;
      margin: 25px;
      border-radius: 100px;
      cursor: pointer; }

.none {
  display: none; }

.input-handler {
  margin-block: 25px; }
