<div class="container">
	<div class="form-container">
		<p>Регистрация</p>
		<form>
			<label for="email">Почта</label>
			<input id="email" name="email" type="email">
			<label for="login">Логин</label>
			<input id="login" name="login" type="text">
			<label for="first_name">Имя</label>
			<input id="first_name" name="first_name" type="text">
			<label for="second_name">Фамилия</label>
			<input id="second_name" name="second_name" type="text">
			<label for="phone">Телефон</label>
			<input id="phone" name="phone" type="tel">
			<label for="password">Пароль</label>
			<input id="password" name="password" type="password">
			<label for="password_repeat">Пароль (ещё раз)</label>
			<input id="password_repeat" name="password_repeat" type="password">
			<button name="Sign up" type="submit">Зарегестрироваться</button>
			<a></a>
		</form>
		<p class="link">Войти</p>
	</div>
</div>