<div class="container">
	<div class="form-container">
		<p>Вход</p>
		<form>
			<label for="login">Почта</label>
			<input id="login" name="login" type="text">
			<label for="password">Логин</label>
			<input id="password" name="password" type="password">
			<button name="Enter" type="submit">Войти</button>
		</form>
		<p id="link">Нет аккаунта?</p>
	</div>
</div>