<div class="icon"></div>
<form>
	<label for="old_password">Старый пароль</label>
	<input id="old_password" name="old_password" type="password">
	<label for="new_password">Новый пароль</label>
	<input id="new_password" name="new_password" type="password" pattern="\w{8,}">
	<label class="hint hint_1 none">Минимальное количество символов: 8</label>
	<label for="new_password_repeat">Повторите новый пароль</label>
	<input id="new_password_repeat" name="new_password_repeat" type="password">
	<label class="hint hint_2 none">Пароли должны повторяться</label>
	{{{button}}}
</form>