@import "../../utils/globals";

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > * {
        font-size: 20px;
    }

    .icon {
        aspect-ratio: 1/1;
        width: 200px;
        background-color: $messages;
        border-radius: 100%;
        margin-bottom: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 45%;
        border: 0.5px solid $border;
        background-color: $content-block;
        border-radius: 10px;
        padding: 30px;

        & > button {
            background-color: $button-color;
            color: white;
            border: none;
            border-radius: 10px;
            padding-block: 10px;
            margin-top: auto;
            cursor: pointer;
        }

        & > label {
            color: $text-grey;
            font-size: 15px;
        }

        & > input {
            margin-top: 5px;
            margin-bottom: 20px;
            background-color: rgb(255 255 255 / 0%);
            border: none;
            outline: none;
            border-bottom: 2px solid $border;
            padding-bottom: 5px;
        }
    }
}
