* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden; }

html, body, #root {
  min-height: 100vh;
  word-break: break-all; }

.circle {
  border-radius: 100%;
  background-color: #E547FF; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #64676d; }

* {
  font-size: 20px; }

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .container .icon {
    aspect-ratio: 1/1;
    width: 200px;
    background-color: #00F0FF;
    border-radius: 100%; }
  .container .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 45%;
    background-color: #C3FFFB;
    border-radius: 10px;
    border: 0.5px solid #8F8F8F;
    margin-top: 30px;
    padding: 30px; }
    .container .form-container form {
      display: flex;
      margin-top: 30px;
      align-self: stretch;
      flex-direction: column;
      height: 100%; }
      .container .form-container form > button {
        background-color: #E547FF;
        color: white;
        border: none;
        border-radius: 10px;
        padding-block: 10px;
        margin-top: auto;
        cursor: pointer; }
      .container .form-container form > label {
        color: #00667C;
        font-size: 15px; }
      .container .form-container form > input {
        margin-top: 5px;
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        outline: none;
        border-bottom: 2px solid #8F8F8F;
        padding-bottom: 5px; }
    .container .form-container a {
      color: #B633F3;
      text-decoration: none; }
