@import "../../utils/globals";

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .number {
    font-size: 80px;
  }

  .text {
    font-size: 30px;
    text-align: center;
  }

  .link {
    margin-top: 30px;
    color: $text-link;
  }
}
