<div class="container">
	<div class="profile">
		<div class="icon"></div>
		<p class="name">ivan</p>
		<div class="user-info">
			<div class="info-container">
				<div>
					<p>почта</p>
					<p>pochta@yandex.ru</p>
				</div>
				<div>
					<p>Логин</p>
					<p>ivanivanov</p>
				</div>
				<div>
					<p>Имя</p>
					<p>Иван</p>
				</div>
				<div>
					<p>Фамилия</p>
					<p>Иванов</p>
				</div>
				<div>
					<p>Имя в чате</p>
					<p>Иван</p>
				</div>
				<div>
					<p>Телефон</p>
					<p>+7 (909) 967 30 30</p>
				</div>
			</div>
			<div class="info-change">
				<p class="link" id="data">Изменить данные</p>
				<p class="link" id="pass">Изменить пароль</p>
				<p id="exit">Выйти</p>
			</div>
		</div>
	</div>
</div>