@import "../../utils/globals.scss";

.link{
	color: $text-link;
}

#exit{
	color: $text-red;
}

.container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	& > *{
		font-size: 30px;
	}
	.profile{
		width: 50%;
		height: 80%;
		display: grid;
		grid-template-rows: 220px min-content auto;
		& > .name{
			margin: 15px;
			text-align: center;
		}
		.icon{
			justify-self: center;
			border-radius: 100%;
			aspect-ratio: 1/1;
			background-color: $messages;
		}
		.user-info{
			display: flex;
			flex-direction: column;
			position: relative;
			& > *{
				flex-grow: 1;
			}
			& > .info-container{
				flex-direction: column;
				display: flex;
				& > div{
					display: flex;
					flex-grow: 1;
					align-items: center;
					& > *:first-child{
						margin-right: auto;
					}
				}
			}
		}
	}
}
