<div class="element__icon"></div>
<p class="element__name">{{title}}</p>
<div class="element__text-preview"><p>{{last_message.content}}</p></div>
<date class="element__date">{{last_message.time}}</date>
<div class="element__circle">
	{{unread_count}}
</div>