$text-basis: #003642;

$text-link: #B633F3;

$text-grey: #00667C;

$text-red: #FF0000;

$button-color: #E547FF;

$content-block: #C3FFFB;

$messages: #00F0FF;

$picked-chat: #00FCED;

$border: #8F8F8F;

%circle{
	border-radius: 100%;
	background-color: $button-color;
}



