@import "../src/utils/globals.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

html,
body,
#root {
    height: 100%;
    position: relative;
    word-break: break-all;
}

.none {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(235, 235, 235);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(100, 103, 109);
    border-radius: 5px;
}

.invalid {
  background-color: #ffc6c6 !important;
}

.hint {
    color: $text-red;
    font-size: 15px;
    margin-bottom: 10px;
}

.link {
  margin-top: 30px;
  color: $text-link;
  cursor: pointer;
}

.avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dialog {
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    width: 500px;
    height: 300px;
    z-index: 1;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
  }
  
