<div class="message-tape__bottom-container">
	<div class="attachment-container">
		<div class="attachment none"></div>
	</div>
	<div class="input-handler">
		<input name="message" placeholder="Сообщение"></input>
	</div>
	<div></div>
</div>