<a class=".link" id="enter">Страница входа</a>
<a class=".link" id="reg">Страница регистрации</a>
<a class=".link" id="main">Главная страница</a>
<a class=".link" id="profile">Стрница профиля</a>
<a class=".link" id="pass">Изменение пароля</a>
<a class=".link" id="data">Изменение данных</a>
<a class=".link" id="id-404">404</a>
<a class=".link" id="id-500">500</a>