<ul>
<li><a class=".link" id="enter">Страница входа</a></il>
<li><a class=".link" id="reg">Страница регистрации</a></il>
<li><a class=".link" id="main">Главная страница</a></il>
<li><a class=".link" id="profile">Стрница профиля</a></il>
<li><a class=".link" id="pass">Изменение пароля</a></il>
<li><a class=".link" id="data">Изменение данных</a></il>
<li><a class=".link" id="id-404">404</a></il>
<li><a class=".link" id="id-500">500</a></il>
</ul>
